* {
    position: relative;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

p a {
    text-decoration: underline;
    display: inline;
}

html {
    font-family: sans-serif;
}

label, input, textarea {
    display: block;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 36px;
    padding-bottom: 12px;
}

h2 {
    font-size: 24px;
    padding-bottom: 12px;
}

h3 {
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: bold;
}

.module-tags-with-completion input {
    width: auto;
    border: none;
    padding-left: 8px;
}

.module-tags-with-completion input:focus {
    outline: none;
}

.module-tags-with-completion .react-tagsinput-tag {
    display: none;
}